<div>
    <label>Maths</label>
    <input type="text" [(ngModel)]="m1">
    <label>physics</label>
    <input type="text"  [(ngModel)]="p1">
    <label>Chemistry</label>
    <input type="text"  [(ngModel)]="c1">
    <button (click)="calculatePer(m1,p1,c1)">Click</button>
  
  <div style="margin-top:20px;font-size: 20px;">{{result | number:'2.2'}}%</div>
  <div [ngSwitch]="true">
    <div *ngSwitchCase="result >= 70">
      <h2>Distinction</h2>
    </div>
    <div *ngSwitchCase="result > 59 && result < 70">
      <h2>First class</h2>
    </div>
    <div *ngSwitchCase="result > 39 && result < 59">
      <h2>Pass class</h2>
    </div>
    <div *ngSwitchCase="result < 40">
      <h2>Fail</h2>
    </div>
  </div>
</div>